<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Estudio 1</h1>-
        <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Perferendis hic,ducimus accusantium atque expedita
        consequatur fuga officia dignissimos
        aliquam praesentium
        qui numquam, magni eaque illo, itaque ipsam.
        Eveniet, velit recusandae!</p>
        </li>

        <li>
          <h1>Estudio 2</h1>-
          <h3>(years)</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Perferendis hic,ducimus accusantium atque expedita
          consequatur fuga officia dignissimos
          aliquam praesentium
          qui numquam, magni eaque illo, itaque ipsam.
          Eveniet, velit recusandae!</p>
          </li>

          <li>
            <h1>Estudio 3</h1>-
            <h3>(years)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis hic,ducimus accusantium atque expedita
            consequatur fuga officia dignissimos
            aliquam praesentium
            qui numquam, magni eaque illo, itaque ipsam.
            Eveniet, velit recusandae!</p>
            </li>
    </ul>
  </div>
</div>

